

section{
    background-color: orangered;
    padding: 20px;
    border: 5px solid white;
    width: 50%;
    text-align: center;

}
div{
    background: skyblue;
    border: 5px solid black;
    width: 40%;
    padding: 20px;
    text-align: center;
}

h2{
    color:black;
    background: white;
    border: 3px solid black;
}
h1{
    color: blueviolet;
    background: white;
    border: 3px solid black;
    position:sticky;
    top: 3px;

}