.section{
    display: grid;
    grid-template-columns:  20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-gap: 1px 1px;
    border: 20px solid rgb(73, 0, 128);
    width: fit-content;
    height: fit-content;
}
.head{
    grid-column-start: 1 ;
    grid-column-end: 6;
    height: fit-content;
    width: 1260px;
    background-color: rgb(207, 152, 113);
    border: 2px solid black;
    padding: 5px;
}
img{
    width: 200px;
    height: 200px;
}
.img1{
    background-color: rgb(159, 225, 225);
    grid-column-start: 2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    height: fit-content;
    width: 200px;
    border: 2px solid black;
    margin-top: 30px;
    padding: 5px;
}
.img2{
    background-color: rgb(159, 225, 225);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    height: fit-content;
    width: 200px;
    border: 2px solid black;
    margin-top: 30px;
    padding: 5px; 
}
.img3{
    background-color: rgb(159, 225, 225);
    grid-column-start: 4 ;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    height: fit-content;
    width: 200px;
    border: 2px solid black;
    margin-top: 30px;
    padding: 5px;
}
